body {
    background-color: #1e272e;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    }
    
    .container {
    width: 100%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    }
    
    .navbar {
    height: 60px;
    display: flex;
    align-items: center;
    }
    
    .logo {
    width: 50px;
    cursor: pointer;
    }
    
    nav {
    flex: 1;
    text-align: right;
    }
    
    nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    }
    
    nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    }
    
    nav ul li a:hover {
    color:  rgb(3, 0, 28);
    }
    
    .wrapper {
    display: flex;
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    }
    
    .box {
    flex-basis: 50%;
    height: 700px;
    box-sizing: border-box;
    padding: 50px;
    }
    
    .box-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(3, 0, 28);
    }
    
    .box-left h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    }
    
    .box-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    }
    
    .box-right a {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:  rgb(3, 0, 28);
    transition: all 0.3s ease;
    }
    
    .box-right a:hover {
    background-color: #fff;
    color: rgb(3, 0, 28);
    }

    .drunk-heading {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .left-text {
        font-size: 20px;
        line-height: 1.5;
        color: #fff;
        opacity: 0.8;
    }

    .box-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(3, 0, 28);
        padding: 40px;
        text-align: center;
    }
    
    .box-left h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    .box-left p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    
    
    input.budgetInput{
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: none;
    font-size: 36px;
    color: rgb(3, 0, 28);
    text-align: center;
    }
    
    input.budgetInput:focus {
    outline: none;
    }
    
    .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    }
    
    .table-money {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    }
    
    th {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(3, 0, 28);
    }
    
    td {
    padding: 10px;
    font-size: 20px;
    color: rgb(3, 0, 28);
    }