body {
	background-color: rgb(3, 0, 28);
	color: white;
	font-family: "Fira Code", monospace;
}

.parent {
	position: relative;
}

.container {
	width: 100%;
	height: 100vh;
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: border-box;
}

.navbar	{
	height: 12%;
	display: flex;
	align-items: center;
}

.logo {
	width: 50px;
	cursor: pointer;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul li {
	list-style: none;
	display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 15;
	margin-left: 60px;
}

nav ul li a:hover {
	transition: 0.4s ease;
	text-decoration: underline;
	text-underline-offset: 0.3em;
	
}

.bartab {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);
	text-align: center;
}


.bartabanim {
	font-size: 4em;
	margin: 0;
	padding: 0;
	text-align: center;
	border-right: 5px solid;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s ,
				cursor .4s step-end infinite alternate;
}

.btnlogin{
	position: relative;
	width: 100px;
	height: 50px;
	background: transparent;
	border: transparent;
	outline: none;
	cursor: pointer;
	font-size:  1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	font-family: Fira Code;

}

.btnlogin::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 100px;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: center;
	transform: scaleX(0);
	transition: .5s;
}

.btnlogin:hover::after{
	transform-origin: center;
	transform: scaleX(1);

}


.wrapper{
	position: absolute;
	top: 25%;
	left: 35%;
	width: 400px;
	height: 440px;
	background: rgba(190, 189, 192, 0.0.7);
	border: 2px solid rgb(3, 0, 28, 0.7);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	transition: height .2s ease;
	overflow: hidden;
}

.wrapper.active {
	height: 520px;

}

.wrapper.active .form-box.Login{
	transition: none;
	transform: translateX(400px);

}

.wrapper > .form-box > h2 {
	text-align: center;
	

}

.wrapper .close{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45;
	font-size: 2em;
	color:whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;

}

.wrapper .form-box.Login{
	transition: transform .18s ease;
	transform: translateX(0);
}





.wrapper.active .form-box.register{
	position: absolute;
	top: 0;
	transition: none;
	transform: translateX(-400px);
	

}

.wrapper .form-box.register{
	position: absolute;
	transform: translateX(400px);
	transform: translateY(100000000px);
}

.wrapper.active .form-box.register{
	transition: transform .18s ease;
	transform: translateX(0);
}


.form-box {
	padding: 20px;
}

.input-box{
	position: relative;
	width: 100%;
	height: 30px;
	border-bottom: 2px solid whitesmoke;
	margin: 30px 0;
}

.input-box label{
	position: absolute;
	top: -2%;
	left: 0%;
	transform: translateY(-50%);
	font-size: 1em;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}

.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	color: azure;
	line-height: 57px;font-size: 1em;
	color: azure;
	font-weight: 600;
	padding: 0 35px 0 5px;

}
.input-box input:focus~label,
.input-box input:valid~label{
	top: -6px;

}


.input-box .icon{
	position: absolute;
	right: 8px;
	font-size: 1.2em;
}

.btn_login{
	width: 100%;
	height: 45px;
	background: whitesmoke;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: rgb(3, 0, 28);
	font-weight: 500;
}

.btn_Register{
	width: 100%;
	height: 45px;
	background: whitesmoke;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: rgb(3, 0, 28);
	font-weight: 500;
}
.register-link{
	font-size: .9em;
	color: whitesmoke;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;

}

.register-link p a{
	color: whitesmoke;

	font-weight: 600;

}

.register-link p a:hover{
	text-decoration: underline;
}
@keyframes cursor {
	50% {border-color: transparent;}
}

@keyframes typing {
	from {width: 0;}
}

h1 span {
	display: inline-block;
	animation: typing 2s steps(7, end) infinite;
	white-space: nowrap;
	
	width: 0;
}

h2 {
	font-size: 2em;
	margin: 10px 0 0;
	padding: 0;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 7em;
	}
}